@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

content-wrap {
    padding-bottom: 1rem;
   }

footer {
    margin-top: 75vh;
    margin-bottom: 0px;
}

button {
    display: inline-block;
    margin: auto;
}

section.button {
    margin-top: 33%;
    width: 400px;
    margin-left: 17%;
    margin-right: 30%;
}

