@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body , html {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center; 
    padding: 5px;
    color: black;
    text-decoration: none;
   }

   header a {
    margin-left: 20px;
    font-size: 15px;
    font-weight: normal;
    margin: 10px;
    text-decoration: none;
   }

   header a#login {
    background-color:#1B66CA;
    padding: 10px 30px;
    border: 0px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 15px;
   }

   section{
   display: flex;
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50% , -30%);
   }

   section > input {
    width: 400px;
    margin-top: 36%;
    border-radius: 20px;
    font-size: 25px;
    padding: 5px 13px;
    border: 0.5px solid rgba(0, 0, 0, 0.341);
   }

   section.button {
    position: absolute;
    display: inline-block;
    margin-top: 24vh;
   }

   section > a {
    padding: 10px 5px;
    width: 110px;
    background-color: #F8F9FA ;
    text-decoration: none;
    color: black;
   }

   section > a:hover {
    border: 1px solid dimgray;
    border-radius: 2px;
   }

   content-wrap {
    padding-bottom: 2.5rem;
   }

   footer {
    width: 100vw;
    display: inline;
    position: absolute;
    bottom: 0px;
   }

   footer > div > p {
    width: 100%;
    background-color: #F2F2F2;
    padding: 10px;
   }

   footer > div.sobre > ul {
    display: inline-block;
    padding: 10px;
    background-color: #F2F2F2;
    width: 100vw;
    color: black;
   }
   
   footer > div.sobre > ul > li {
    display: inline-flex;
    background-color: #F2F2F2;
    position: relative;
    }

    footer > div.sobre > ul > div.right {
        display: inline-flex;
        position: absolute;
        left: 20%;
        margin-left: 57vw;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }

    li {
        list-style-type: none;  
        padding: 10px;      
    }


    footer a {
    color: black;
    text-decoration: none;
    }

    @media (min-width: 400px;) 
    {
        body , html {
            margin: auto;

        }

        section.button {
            margin: auto;
            font-size: 10px;
        }

        footer {
            display: list-item;
        }
    }

    


   

   

   

   