@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}

header {
  width: 100vw;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.conteudo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: max-content;
  height: 40px;
  padding: 5px;
}

.conteudo a {
  color: black;
  text-decoration: none;
  padding: 0rem 0.5rem;
}

.content-link {
  font-size: 0.8rem;
}

.content-link:hover {
  text-decoration: underline;
}

a.content-login {
  background-color: blue;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

main {
  background-color: transparent;
  width: auto;
  margin: 12vh auto;
  display: grid;
  grid-template-columns: repeat(1fr, 1);
  place-items: center;
  gap: 1rem;
}

main img {
  width: 20rem;
}

.container-wrapper {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  border-radius: 15px;
}

.input-wrapper {
  background-color: transparent;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0px;
  border: 0.5px solid #70757a;
  border-radius: 5rem;
}

.input-wrapper i {
  color: black;
  padding: 1px 10px;
  cursor: pointer;
}

.input-wrapper input {
  width: 100%;
  background-color: transparent;
  color: black;
  font-size: 20px;
  border: none;
}

.input-wrapper input:focus-visible {
  outline: none;
}

main .main-btn button {
  width: 8rem;
  height: 2rem;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

main .main-btn button:hover {
  box-shadow: 1px 1px 0.6px #70757a;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #F2F2F2;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-conteudo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0rem 0.5rem;
  margin-bottom: 0.1rem;
}

.conteudo-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #70757a;
  padding: 0.2rem;
  font-size: 0.9rem;
}

.conteudo-footer a,
.footer-conteudo a,
.footer-content a,
.conteudo-footer {
  color: black;
  text-decoration: none;
  padding: 0.7rem;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  header {
    justify-content: center;
  }

  .conteudo {
    justify-content: center;
  }

  main {
    width: auto;
    justify-content: center;
  }

  .container-wrapper {
    width: 100%;
  }

  footer {
    display: none;
  }
}

@media only screen and (min-width: 375px) and (max-width:667px) {
  header {
    justify-content: center;
  }

  .conteudo {
    justify-content: center;
  }

  main {
    width: auto;
    justify-content: center;
  }

  .container-wrapper {
    width: 100%;
  }

  footer {
    display: none;
  }
}

@media only screen and (min-width: 360px) and (max-width: 720px) {
  header {
    justify-content: center;
  }

  .conteudo {
    justify-content: center;
  }

  main {
    width: auto;
    justify-content: center;
  }

  .container-wrapper {
    width: 100%;
  }

  footer {
    display: none;
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  header {
    justify-content: center;
  }

  .conteudo {
    justify-content: center;
  }

  main {
    width: auto;
    justify-content: center;
  }

  .container-wrapper {
    width: 100%;
  }

  footer {
    display: none;
  }
}

@media only screen and (min-width: 411px) and (max-width: 731px) {
  header {
    justify-content: center;
  }

  .conteudo {
    justify-content: center;
  }

  main {
    width: auto;
    justify-content: center;
  }

  .container-wrapper {
    width: 100%;
  }

  footer {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    justify-content: center;
    width: 100%;
  }

  .conteudo {
    width: 50%;
    justify-content: space-around;
  }

  main {
    width: auto;
    justify-content: center;
  }

  .container-wrapper {
    width: 100%;
  }

  main img {
    width: 50%;
  }

  footer {
    display: none;
  }
}